<app-header> </app-header>

<div id="container">
  <div class="palette">
    <div class="item" (click)="addLine()">
      <svg height="40" width="50">
        <line x1="5" y1="20" x2="45" y2="20" stroke="black" fill="none" />
      </svg>
    </div>
    <div class="item" (click)="addRectangle()">
      <svg height="40" width="50">
        <rect x="10" y="10" width="30" height="20" fill="none" stroke="black" />
      </svg>
    </div>
    <div class="item" (click)="addCircle()">
      <svg height="40" width="50">
        <circle cx="25" cy="20" r="15" stroke="black" fill="none" />
      </svg>
    </div>
  </div>
  <svg id="canvas" height="700" width="1000"></svg>
</div>
