.characters {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  .item {
    width: 30%;
    padding: 1rem;
    text-align: center;
    border: 1px solid #f1f1f1;
    cursor: pointer;

    > img {
      width: 100px;
    }

    > h3 {
      margin: 0;
    }

    &:hover {
      border-color: lightgray;
    }
  }
}

@media (max-width: 768px) {
  .characters {
    .item {
      width: 48%;
    }
  }
}

@media (max-width: 460px) {
  .characters {
    .item {
      width: 90%;
    }
  }
}
