<app-header>
  <input
    pInputText
    type="text"
    [(ngModel)]="globalFilter"
    placeholder="Search by name"
  />
</app-header>
<div class="characters">
    <span *ngIf="isLoading" class="loading">Loading</span>
  <ng-container *ngIf="characters | filterBy : 'name' : globalFilter as filteredCharacters">
    <div
      class="item"
      *ngFor="let character of filteredCharacters"
      (click)="openCharacter(character)"
    >
      <img [src]="character.image" alt="" />
      <h3>{{ character.name }}</h3>
      <span>{{ character.status }}</span>
      <app-button class="add-btn" text="Add to cart"></app-button>
    </div>
    <div *ngIf="!isLoading && filteredCharacters.length === 0">
        <span class="empty">No results found</span>
    </div>
  </ng-container>
</div>

<p-dialog
  [modal]="true"
  header="Character detail"
  [maximizable]="true"
  [(visible)]="isDetailVisible"
>
  <app-character [character]="selectedCharacter"></app-character>
</p-dialog>
